/* Import da Fonte (Inter) */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--surface-ground);
    font-family: var(--font-family);
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}


.card {
    background: var(--surface-card);
    padding: 1.5rem;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    margin-bottom: 1rem;
}

.layout-content {    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}